
@{
    ViewData["Title"] = "MyRoutes";
}

<h2>MyRoutes</h2>

<div class="container">
    <div class="row tabHead">
        <div class="col-sm-4">Route Name</div>
        <div class="col-sm-2">Difficulty</div>
        <div class="col-sm-6">Description</div>
    </div>
    <div class="row tabRow">
        <div class="col-sm-4">1111111111111111111111</div>
        <div class="col-sm-2">2222222222222222222222</div>
        <div class="col-sm-6">3333333333333333333333</div>
    </div>
    <div class="row tabRow">
        <div class="col-sm-4">4444444444444444444444</div>
        <div class="col-sm-2">5555555555555555555555</div>
        <div class="col-sm-6">6666666666666666666666</div>
    </div>
    <div class="row tabRow">
        <div class="col-sm-4">7777777777777777777777</div>
        <div class="col-sm-2">8888888888888888888888</div>
        <div class="col-sm-6">9999999999999999999999</div>
    </div>
</div>